<div id ='logged'>
    <div id ='center'>
<p id='title'>Member Login</p>
<form action ='/login/' method = 'GET'>
    <input type='text' placeholder ='username' name = 'username' >
    <input type='text' placeholder ='password' name = 'pass'>
    <button id='loginBtn' type ='submit'>Login</button>
</form>
</div>
</div>